.fan-images {
  width: 23%;
  float: left;
  padding: 1%;
}
img {
  max-width: 100%;
}
.body-left {
  width: 66%;
  float: left;
}
.body-right {
  float: right;
  width: 33%;
  text-align: right;
  background: grey;
  border: 1px solid darkgrey;
  padding: 2px;
  margin: 2px;
}

li {
  list-style: none;
}
